
/* .navbar nav ul{
    padding-left:17px;
}
.navbar nav ul li{
    padding: 0 2px 0 19px;
}
.navbar nav ul li a{
    font-size: 8px;

    }
.logo img{
    width:20px;
  margin-left: 4px;
  position: absolute;
  top: 7px;
}  
} */